* {
  text-align: center;
}
body {
  text-align: center;
  background: rgb(115, 219, 185);
  font-family: sans-serif;
}

.timer {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 60px;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 30px;
}

.field {
  padding: 10px;
  border-radius: 3px;
  background: #00bf7f;
  display: inline-block;
}

.value {
  padding: 25px;
  border-radius: 3px;
  background: #00816a;
  display: inline-block;
}

.label {
  display: block;
  padding-top: 10px;
  font-size: 25px;
}
