body {
  text-align: center;
  background: rgb(115, 219, 185);
  font-family: sans-serif;
}

.timer {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 60px;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 30px;
}

.field {
  padding: 60px;
  margin-left: 20px;
  border-radius: 10px;
  background: #00bf7f;
  display: inline-block;
}
/* .field:hover {
  background-color: aqua;
  border: 10px solid rgb(48, 230, 191);
} */

.value {
  padding: 40px;
  border-radius: 10px;
  background: #00816a;
  display: inline-block;
}
/* .value:hover {
  background-color: rgb(47, 233, 146);
  border: 10px solid rgb(48, 230, 230);
} */

.label {
  display: block;
  padding-top: 10px;
  font-size: 25px;
}
